/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --accent-color:#000028;
  --decor-background-color: #ff0070;
  --font-weight-bold: 700;
  --font-size: 18px;
  --h1-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-image-dark: url(../images/cover-image-dark.png);

}

